BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: true
AccessModifierOffset: -4
PackConstructorInitializers: Never
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
ColumnLimit: 110
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
ReferenceAlignment: Left
NamespaceIndentation: None
SortIncludes: Never
